/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 13, 2018, 2:43:33 PM
    Author     : ur16cs157
*/
body{
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
    color: #333;
        background: rgba(146, 208, 245, 0.1);
}
*{
    color: rgba(0,0,00,.8);
}
html,body{
    padding: 0;
    margin: 0;
}
.fl{
    float: left
}
.wm{
    /*width: 30%;*/
    width: fit-content;
}
.head
{
    height: 2em;
        background: white;
    padding: .5em;
}
h1{
    font-size: 36px;
        font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
    margin: auto;
}
.main{
    padding: 0 1em;
    margin: auto;
}
.tc{
    text-align: center
}
.top ,.mid{
    width: 70%;
    padding: 1em;
    margin: auto;
}
.bt{
    font-weight: 600;
}
.top table{
    width: 60%;
    margin: auto;
    text-align: center;
}
.top table  tr{
   height: 2em;
}
.tl{
    text-align: left;
}
.tr{
    text-align: right;
}
.skills-set{
    width: 100%;

}
.container{
 
    margin: auto;
}
.fclr{
    float: none;
    
}
.fr{
    float: right;
}
.sd{
    width: 100%;
}
.md{
    width: 45%;
}
.smalld{
    width: 29%;
}
.xd{
    width: 69%;
}
.skills-p{
    padding: .5em;
    font-weight: 600;
    text-align: right
}
.skill-chart{
    box-shadow: 0px 1px 9px 2px rgba(0,0,0,.3);
    width: 0;
        color: white;
    padding: .5em;
    text-align: left;
        height: 1em;
    background: #f75d5d;
    margin: 1em;
}
.px{
    padding: 0 1em;
}
@media only screen and (max-width : 500px){
    hmtl,body
    {
        font-size: 18px;
    }
    .main{
        padding: 0;
    }
    .head{
        height: 3em;
    }
    .wm{
        width: fit-content;
        float: none;
        margin: auto
    }
    .top ,.mid{
    width: 95%;
    padding: 1em 0;
    margin: auto;
    }
    .top table{
        width: 100%;
    }
    .about-me h2 , .skills-set h2 {
        text-align: center;
    }
    .about-me p{
        text-align: justify
    }
    .smalld{
        width: 100%;
    }
    .skills-p{
        text-align: center
    }
    .xd{
        width: 100%;
        border-bottom: 2px solid #d2d2d2;
    }
}