/**
 * Quick search for header
 */
 .aui-header .aui-quicksearch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.6);
  }
  .aui-header .aui-quicksearch input {
    background: rgba(9, 30, 66, 0.48);
    border: none;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    color: inherit;
    height: 2.143em;
    font-family: inherit;
    font-size: inherit;
    margin: 5px 0 0 0;
    padding: 0 26px 1px 10px;
    vertical-align: baseline;
    width: 170px;
  }
  .aui-header .aui-quicksearch input:focus {
    background: rgba(9, 30, 66, 0.48);
    color: #DEEBFF;
    outline: none;
  }
  .aui-header .aui-quicksearch input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .aui-header .aui-quicksearch input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .aui-header .aui-quicksearch input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .aui-header .aui-quicksearch input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .aui-header .aui-quicksearch input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .aui-header .aui-quicksearch input:focus::-webkit-input-placeholder {
    color: #DEEBFF;
  }
  .aui-header .aui-quicksearch input:focus::-moz-placeholder {
    color: #DEEBFF;
  }
  .aui-header .aui-quicksearch input:focus:-ms-input-placeholder {
    color: #DEEBFF;
  }
  .aui-header .aui-quicksearch input:focus::-ms-input-placeholder {
    color: #DEEBFF;
  }
  .aui-header .aui-quicksearch input:focus::placeholder {
    color: #DEEBFF;
  }
  .aui-header .aui-quicksearch input[type] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .aui-header .aui-quicksearch::after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    font-family: "Adgs Icons";
    font-weight: normal;
    font-style: normal;
    speak: none;
    align-self: center;
    pointer-events: none;
    margin-left: -26px;
    margin-right: 10px;
    content: "\F18D";
    color: inherit;
    font-size: 16px;
    height: 16px;
    width: 16px;
  }
