/*! AUI Navigation */
/* Nav defaults - put very little here!
-------------------- */
.aui-nav,
.aui-nav > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Horizontal, breadcrumbs and pagination are all horizontal */
.aui-nav-breadcrumbs:after,
.aui-nav-pagination:after,
.aui-nav-horizontal:after,
.aui-navgroup-horizontal .aui-nav:after,
.aui-navgroup-horizontal .aui-navgroup-inner:after {
  clear: both;
  content: " ";
  display: table;
}
.aui-nav-breadcrumbs > li,
.aui-nav-pagination > li {
  float: left;
}
/* Navigation headings
-------------------- */
.aui-nav-heading {
  color: #6B778C;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.45454545;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.81818182;
  padding: 0 10px;
}
.aui-nav-heading > strong {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
/* Breadcrumb navigation
-------------------- */
.aui-nav-breadcrumbs > li {
  padding: 0 10px 0 0;
}
.aui-nav-breadcrumbs > li + li:before {
  content: "/";
  padding-right: 10px;
}
/* Pagination
-------------------- */
.aui-nav-pagination {
  margin: 10px 0 0 0;
}
.aui-nav-pagination > li {
  padding: 0;
}
/* Need padding on the A elements for big click areas.
   Set equal left/right to help align the inline dialog on truncation. */
.aui-nav-pagination > li > a {
  padding: 10px 10px 0 10px;
}
/* Don't set top/bottom as that throws non-linked items out of whack. */
.aui-nav-pagination > li.aui-nav-selected,
.aui-nav-pagination > li.aui-nav-truncation {
  padding-left: 10px;
  padding-right: 10px;
}
.aui-nav-pagination .aui-nav-truncation > a {
  padding-left: 0;
  padding-right: 0;
}
/* Remove whitespace from first and last child */
.aui-nav-pagination > li:first-child > a,
.aui-nav-pagination > li.aui-nav-truncation:first-child,
.aui-nav-pagination > li.aui-nav-selected:first-child {
  padding-left: 0;
}
.aui-nav-pagination > li:last-child > a,
.aui-nav-pagination > li.aui-nav-truncation:last-child,
.aui-nav-pagination > li.aui-nav-selected:last-child {
  padding-right: 0;
}
.aui-nav-pagination a[aria-disabled="true"],
.aui-nav-pagination a[aria-disabled="true"]:link,
.aui-nav-pagination a[aria-disabled="true"]:visited,
.aui-nav-pagination a[aria-disabled="true"]:focus,
.aui-nav-pagination a[aria-disabled="true"]:hover,
.aui-nav-pagination a[aria-disabled="true"]:active {
  color: #97A0AF;
  text-decoration: none;
}
.aui-nav-pagination > li.aui-nav-selected {
  color: #172B4D;
  font-weight: 600;
}
/* Vertical Navigation
-------------------- */
.aui-navgroup-vertical .aui-nav > li > a,
.aui-nav-vertical > li > a {
  border-radius: 3px;
  box-sizing: content-box;
  display: block;
  line-height: 1.14285714;
  padding: 7px 10px;
  background-color: transparent;
  color: #42526E;
  text-decoration: none;
  word-wrap: break-word;
}
.aui-navgroup-vertical .aui-nav > li > a:hover,
.aui-nav-vertical > li > a:hover {
  background-color: rgba(9, 30, 66, 0.08);
  text-decoration: none;
}
.aui-navgroup-vertical .aui-nav > li > a:active,
.aui-nav-vertical > li > a:active {
  background-color: #DEEBFF;
  color: #42526E;
  text-decoration: none;
}
.aui-navgroup-vertical .aui-nav > li > a:focus,
.aui-nav-vertical > li > a:focus {
  text-decoration: none;
}
.aui-navgroup-vertical .aui-nav .aui-nav-selected > a,
.aui-nav-vertical .aui-nav .aui-nav-selected > a {
  background-color: rgba(9, 30, 66, 0.08);
  color: #42526E;
  font-weight: 500;
}
.aui-navgroup-vertical .aui-nav,
.aui-navgroup-vertical .aui-nav-heading {
  margin: 0;
}
.aui-navgroup-vertical .aui-nav + .aui-nav {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #DFE1E6;
}
.aui-navgroup-vertical .aui-nav + .aui-nav-heading {
  margin-top: 20px;
}
.aui-navgroup-vertical .aui-nav:first-child,
.aui-navgroup-vertical .aui-navgroup-inner > .aui-nav-heading:first-child,
.aui-navgroup-vertical .aui-navgroup-primary > .aui-nav-heading:first-child {
  margin-top: 0;
  padding-top: 0;
}
/* nested vertical navigation menus
----------------------------------- */
.aui-navgroup-vertical .aui-nav .aui-nav {
  margin-top: 0;
  padding: 0 0 0 20px;
}
.aui-navgroup-vertical .aui-nav .aui-nav > li {
  position: relative;
}
.aui-navgroup-vertical .aui-nav > li[aria-expanded] {
  position: relative;
}
.aui-navgroup-vertical .aui-nav > li[aria-expanded] .aui-nav-heading {
  padding-left: 0;
}
.aui-navgroup-vertical .aui-nav > li[aria-expanded] .aui-nav-subtree-toggle {
  box-sizing: border-box;
  color: #97A0AF;
  left: 0;
  margin: 0;
  position: absolute;
  padding: 2px;
  top: 5px;
  width: 20px;
  z-index: 1;
}
.aui-navgroup-vertical .aui-nav > li[aria-expanded] .aui-nav-subtree-toggle > .aui-icon {
  display: block;
  margin: 0 auto;
}
.aui-navgroup-vertical .aui-nav > li[aria-expanded] .aui-nav-subtree-toggle + .aui-nav-item {
  padding-left: 30px;
}
.aui-navgroup-vertical .aui-nav > li[aria-expanded] li {
  position: relative;
}
.aui-navgroup-vertical .aui-nav > li[aria-expanded][aria-expanded="false"] > * {
  display: none;
}
.aui-navgroup-vertical .aui-nav > li[aria-expanded][aria-expanded="false"] > .aui-nav-subtree-toggle,
.aui-navgroup-vertical .aui-nav > li[aria-expanded][aria-expanded="false"] > .aui-nav-item {
  display: inherit;
}
/* RHS actions dropdown
------------------------ */
.aui-navgroup-vertical .aui-nav .aui-nav-item-actions {
  background: transparent none;
  border-color: transparent;
  color: #344563;
  text-decoration: none;
  border-radius: 2px;
  display: block;
  height: 16px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 5px;
  text-indent: -999em;
  top: 7px;
  width: 16px;
}
.aui-navgroup-vertical .aui-nav .aui-nav-item-actions::after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0;
  font-family: "Adgs Icons";
  font-weight: normal;
  font-style: normal;
  speak: none;
  content: "\F15B";
  font-size: 12px;
  height: 12px;
  line-height: 1;
  margin-top: -6px;
  position: absolute;
  right: 2px;
  top: 50%;
  text-indent: 0;
  width: 12px;
  content: "\F17F";
}
.aui-navgroup-vertical .aui-nav .aui-nav-item-actions:hover,
.aui-navgroup-vertical .aui-nav .aui-nav-item-actions:focus {
  background-color: rgba(9, 30, 66, 0.13);
  border-color: transparent;
  color: #344563;
  text-decoration: none;
}
.aui-navgroup-vertical .aui-nav .aui-nav-item-actions:active {
  background-image: none;
  background-color: #DEEBFF;
  border-color: transparent;
  color: #0052CC;
  text-decoration: none;
}
.aui-navgroup-vertical .aui-nav .aui-nav-item-actions:active:after {
  border-top-color: #172B4D;
}
.aui-navgroup-vertical .aui-nav .aui-nav-item-actions.active {
  background-image: none;
  background-color: #344563;
  border-color: transparent;
  color: #FFFFFF;
  text-decoration: none;
}
.aui-navgroup-vertical .aui-nav .aui-nav-item-actions ~ .aui-nav-item-label {
  margin-right: 15px;
}
/* Horizontal Navigation
-------------------- */
.aui-nav-horizontal,
.aui-navgroup-horizontal .aui-nav {
  display: flex;
  flex-direction: row;
}
.aui-nav-horizontal > li a,
.aui-navgroup-horizontal .aui-nav > li a {
  padding-right: 10px;
}
/* Horizontal Navgroup
-------------------- */
.aui-navgroup-horizontal {
  position: relative;
  margin: 0;
  padding: 0 10px;
  /* Nav in a Navbar */
  /* Horizontal navgroup + Dropdown2 integration. Note: ADG prohibits dropdowns in vertical nav. */
  /* Breadcrumbs in navbar */
  /* Bulletproofing - headings shouldn't be here but will at least not look heinously broken. */
}
.aui-navgroup-horizontal::after {
  background: #EBECF0;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  width: initial;
  z-index: auto;
}
.aui-navgroup-horizontal .aui-navgroup-inner,
.aui-navgroup-horizontal .aui-navgroup-primary,
.aui-navgroup-horizontal .aui-navgroup-secondary,
.aui-navgroup-horizontal .aui-nav {
  display: flex;
  flex-wrap: wrap;
}
.aui-navgroup-horizontal .aui-navgroup-inner {
  justify-content: space-between;
}
.aui-navgroup-horizontal .aui-navgroup-primary {
  flex-grow: 1;
  order: 0;
}
.aui-navgroup-horizontal .aui-navgroup-secondary {
  order: 1;
}
.aui-navgroup-horizontal .aui-nav > li a {
  display: block;
  margin: 0;
  padding: 9px 10px;
  position: relative;
}
.aui-navgroup-horizontal .aui-nav > li a,
.aui-navgroup-horizontal .aui-nav > li a:link,
.aui-navgroup-horizontal .aui-nav > li a:visited {
  color: #42526E;
  text-decoration: none;
}
.aui-navgroup-horizontal .aui-nav > li a:focus,
.aui-navgroup-horizontal .aui-nav > li a:hover {
  color: #4C9AFF;
}
.aui-navgroup-horizontal .aui-nav > li a:focus {
  z-index: 1;
}
.aui-navgroup-horizontal .aui-nav > .aui-nav-selected a {
  position: relative;
  font-weight: 500;
}
.aui-navgroup-horizontal .aui-nav > .aui-nav-selected a::after {
  background: #0052CC;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 10px;
  position: absolute;
  right: 10px;
  width: initial;
  z-index: 1;
}
.aui-navgroup-horizontal .aui-nav > .aui-nav-selected a,
.aui-navgroup-horizontal .aui-nav > .aui-nav-selected a:link,
.aui-navgroup-horizontal .aui-nav > .aui-nav-selected a:visited,
.aui-navgroup-horizontal .aui-nav > .aui-nav-selected a.active {
  color: #0052CC;
}
.aui-navgroup-horizontal .aui-dropdown2-trigger::after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0;
  font-family: "Adgs Icons";
  font-weight: normal;
  font-style: normal;
  speak: none;
  content: "\F15B";
  font-size: 16px;
  height: 16px;
  line-height: 1;
  margin-top: -8px;
  position: absolute;
  right: 4px;
  top: 50%;
  text-indent: 0;
  width: 16px;
}
.aui-navgroup-horizontal .aui-nav-breadcrumbs > li,
.aui-navgroup-horizontal .aui-nav-breadcrumbs > li:before {
  padding: 0;
}
.aui-navgroup-horizontal .aui-nav-breadcrumbs > li a {
  display: inline-block;
}
.aui-navgroup-horizontal .aui-nav-heading {
  padding: 10px 10px 0 10px;
  /* 0 bottom required to unfuck IE9 */
}
.aui-nav-actions-list {
  font-size: 0;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}
.aui-nav-actions-list:first-child {
  margin-top: 0;
}
.aui-nav-actions-list > li {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 5px;
}
.aui-nav-actions-list > li + li::before {
  content: "";
  border-radius: 2px;
  width: 2px;
  height: 2px;
  background-color: #7A869A;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}
