.aui-avatar {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: text-bottom;
  }
  .aui-avatar-inner {
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 100%;
    overflow: hidden;
  }
  .aui-avatar img {
    display: block;
    height: 100%;
    margin: auto;
    width: 100%;
  }
  .aui-avatar.aui-avatar-xsmall,
  .aui-avatar.aui-avatar-xsmall .aui-avatar-inner {
    height: 16px;
    max-width: 16px;
    max-height: 16px;
    width: 16px;
  }
  .aui-avatar.aui-avatar-small,
  .aui-avatar.aui-avatar-small .aui-avatar-inner {
    height: 24px;
    max-width: 24px;
    max-height: 24px;
    width: 24px;
  }
  .aui-avatar.aui-avatar-medium,
  .aui-avatar.aui-avatar-medium .aui-avatar-inner {
    height: 32px;
    max-width: 32px;
    max-height: 32px;
    width: 32px;
  }
  .aui-avatar.aui-avatar-large,
  .aui-avatar.aui-avatar-large .aui-avatar-inner {
    height: 48px;
    max-width: 48px;
    max-height: 48px;
    width: 48px;
  }
  .aui-avatar.aui-avatar-xlarge,
  .aui-avatar.aui-avatar-xlarge .aui-avatar-inner {
    height: 64px;
    max-width: 64px;
    max-height: 64px;
    width: 64px;
  }
  .aui-avatar.aui-avatar-xxlarge,
  .aui-avatar.aui-avatar-xxlarge .aui-avatar-inner {
    height: 96px;
    max-width: 96px;
    max-height: 96px;
    width: 96px;
  }
  .aui-avatar.aui-avatar-xxxlarge,
  .aui-avatar.aui-avatar-xxxlarge .aui-avatar-inner {
    height: 128px;
    max-width: 128px;
    max-height: 128px;
    width: 128px;
  }
  .aui-avatar-project.aui-avatar-xxxlarge {
    border-radius: 12px;
  }
  .aui-avatar-project.aui-avatar-xxxlarge .aui-avatar-inner {
    border-radius: 12px;
  }
  .aui-avatar-project.aui-avatar-xxlarge {
    border-radius: 6px;
  }
  .aui-avatar-project.aui-avatar-xxlarge .aui-avatar-inner {
    border-radius: 6px;
  }
  .aui-avatar-project.aui-avatar-xlarge {
    border-radius: 6px;
  }
  .aui-avatar-project.aui-avatar-xlarge .aui-avatar-inner {
    border-radius: 6px;
  }
  .aui-avatar-project.aui-avatar-large {
    border-radius: 3px;
  }
  .aui-avatar-project.aui-avatar-large .aui-avatar-inner {
    border-radius: 3px;
  }
  .aui-avatar-project.aui-avatar-medium {
    border-radius: 3px;
  }
  .aui-avatar-project.aui-avatar-medium .aui-avatar-inner {
    border-radius: 3px;
  }
  .aui-avatar-project.aui-avatar-small {
    border-radius: 2px;
  }
  .aui-avatar-project.aui-avatar-small .aui-avatar-inner {
    border-radius: 2px;
  }
  .aui-avatar-project.aui-avatar-xsmall {
    border-radius: 2px;
  }
  .aui-avatar-project.aui-avatar-xsmall .aui-avatar-inner {
    border-radius: 2px;
  }
