.aui-button,
a.aui-button,
.aui-button:visited {
  box-sizing: border-box;
  transition: background-color 0.1s ease-out;
  border-radius: 3.01px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-variant: normal;
  font-weight: 400;
  background-image: none;
  background-color: rgba(9, 30, 66, 0.08);
  border-color: transparent;
  color: #344563;
  text-decoration: none;
  display: inline-block;
  height: 2.14285714em;
  line-height: 1.42857143em;
  margin: 0;
  padding: 4px 10px;
  vertical-align: baseline;
  white-space: nowrap;
}
.aui-button.aui-button-light,
a.aui-button.aui-button-light,
.aui-button:visited.aui-button-light {
  background-color: #FFFFFF;
}
.aui-button ~ .aui-button {
  margin-left: 10px;
}
a.aui-button:hover,
a.aui-button:active,
a.aui-button:focus {
  text-decoration: none;
}
.aui-button:focus,
.aui-button:hover,
.aui-button-subtle.aui-button:focus,
.aui-button-subtle.aui-button:hover {
  background-color: rgba(9, 30, 66, 0.13);
  border-color: transparent;
  color: #344563;
  text-decoration: none;
}
.aui-button:active,
.aui-button.aui-button-subtle:active,
.aui-button.aui-button-subtle.active {
  background-image: none;
  background-color: #DEEBFF;
  border-color: transparent;
  color: #0052CC;
  text-decoration: none;
}
.aui-button.active,
.aui-button-subtle.aui-button.active {
  background-image: none;
  background-color: #344563;
  border-color: transparent;
  color: #FFFFFF;
  text-decoration: none;
}
.aui-button.aui-button-split-main + .aui-button-split-more {
  margin-left: 2px;
}
.aui-button.aui-button-primary,
.aui-button.aui-button-primary:visited {
  background-image: none;
  background-color: #0052CC;
  border-color: transparent;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
}
.aui-button.aui-button-primary:hover,
.aui-button.aui-button-primary:focus {
  background-color: #0065FF;
  border-color: transparent;
  color: #FFFFFF;
  text-decoration: none;
}
.aui-button.aui-button-primary.active {
  background-image: none;
  background-color: #344563;
  border-color: transparent;
  color: #FFFFFF;
  text-decoration: none;
}
.aui-button.aui-button-primary:active {
  background-image: none;
  background-color: #0052CC;
  border-color: transparent;
  color: #FFFFFF;
  text-decoration: none;
}
.aui-button.aui-button-link,
.aui-button.aui-button-link:visited,
.aui-button.aui-button-text,
.aui-button.aui-button-text:visited {
  background-color: transparent;
  border-color: transparent;
  color: #0052CC;
  cursor: pointer;
  text-decoration: none;
  padding: 4px 0;
}
.aui-button.aui-button-link:focus,
.aui-button.aui-button-link:hover,
.aui-button.aui-button-link:active,
.aui-buttons .aui-button.aui-button-link:focus,
.aui-buttons .aui-button.aui-button-link:hover,
.aui-buttons .aui-button.aui-button-link:active,
.aui-buttons .aui-button.aui-button-link[aria-pressed="true"],
.aui-button.aui-button-text:focus,
.aui-button.aui-button-text:hover,
.aui-button.aui-button-text:active,
.aui-buttons .aui-button.aui-button-text:focus,
.aui-buttons .aui-button.aui-button-text:hover,
.aui-buttons .aui-button.aui-button-text:active,
.aui-buttons .aui-button.aui-button-text[aria-pressed="true"] {
  background-color: transparent;
  border-color: transparent;
}
.aui-button.aui-button-link:hover,
.aui-button.aui-button-text:hover {
  color: #0065FF;
  text-decoration: underline;
}
.aui-button.aui-button-link:active,
.aui-button.aui-button-text:active {
  color: #0747A6;
  text-decoration: none;
}
.aui-button.aui-button-text,
.aui-button.aui-button-text:visited {
  border: none;
  font-size: inherit;
  height: inherit;
  line-height: normal;
  padding: 0;
}
.aui-button.aui-button-subtle {
  background-color: transparent;
  border-color: transparent;
  color: #344563;
}
.aui-buttons .aui-button.aui-button-subtle {
  border-radius: 3.01px;
}
.aui-button > .aui-icon + .aui-button-label {
  margin-left: 4px;
}
.aui-button.aui-button-compact {
  font-size: 12px;
  height: 2.16666666666667em;
  padding: 2px 8px;
  line-height: 1.66666666666667;
}
.aui-buttons {
  display: inline-block;
  font-size: 0;
}
.aui-buttons::after {
  clear: both;
  content: "";
  display: table;
}
.aui-buttons .aui-button {
  border-radius: 0;
  margin: 0;
}
.aui-buttons .aui-button:first-child {
  border-top-left-radius: 3.01px;
  border-bottom-left-radius: 3.01px;
}
.aui-buttons .aui-button:last-child {
  border-top-right-radius: 3.01px;
  border-bottom-right-radius: 3.01px;
}
.aui-buttons + .aui-buttons {
  margin-left: 10px;
}
.aui-buttons .aui-button:not(.aui-button-primary):not(.aui-button-link):focus,
.aui-buttons .aui-button:not(.aui-button-primary):not(.aui-button-link):hover,
.aui-buttons .aui-button:not(.aui-button-primary):not(.aui-button-link):active {
  border-color: transparent;
}
.aui-buttons .aui-button[disabled],
.aui-buttons .aui-button[disabled]:hover,
.aui-buttons .aui-button[disabled]:focus,
.aui-buttons .aui-button[disabled]:active,
.aui-buttons .aui-button[aria-disabled="true"],
.aui-buttons .aui-button[aria-disabled="true"]:hover,
.aui-buttons .aui-button[aria-disabled="true"]:focus,
.aui-buttons .aui-button[aria-disabled="true"]:active {
  border-color: transparent;
}
.aui-buttons .aui-button ~ .aui-button {
  border-left-width: 0;
  margin-left: 2px;
}
.aui-buttons .aui-button:hover,
.aui-buttons .aui-button:focus,
.aui-buttons .aui-button:active {
  position: relative;
}
.aui-buttons .aui-button:focus {
  z-index: 1;
}
.aui-button[aria-pressed="true"],
.aui-buttons .aui-button[aria-pressed="true"],
.aui-buttons .aui-button[aria-pressed="true"].aui-button-primary,
.aui-buttons .aui-button[aria-pressed="true"].aui-button-subtle {
  color: #FFFFFF;
  background-color: #344563;
}
.aui-buttons .aui-button[aria-pressed="true"]:active {
  color: #344563;
  background-color: #DEEBFF;
}
.aui-button[disabled],
.aui-button[disabled]:hover,
.aui-button[disabled]:focus,
.aui-button[disabled]:active,
.aui-button[aria-disabled="true"],
.aui-button[aria-disabled="true"]:hover,
.aui-button[aria-disabled="true"]:focus,
.aui-button[aria-disabled="true"]:active,
.aui-button[aria-disabled="true"][aria-pressed] {
  background-color: rgba(9, 30, 66, 0.04);
  border-color: transparent;
  color: #A5ADBA;
  cursor: default;
}
.aui-button.aui-button-subtle[disabled],
.aui-button.aui-button-subtle[aria-disabled="true"] {
  border: 0;
  background: none;
}
.aui-button.aui-button-primary[disabled],
.aui-button.aui-button-primary[disabled]:hover,
.aui-button.aui-button-primary[disabled]:focus,
.aui-button.aui-button-primary[disabled]:active,
.aui-button.aui-button-primary[aria-disabled="true"],
.aui-button.aui-button-primary[aria-disabled="true"]:hover,
.aui-button.aui-button-primary[aria-disabled="true"]:focus,
.aui-button.aui-button-primary[aria-disabled="true"]:active {
  background-color: rgba(9, 30, 66, 0.04);
  border-color: transparent;
  color: #A5ADBA;
  cursor: default;
}
.aui-button.aui-button-link[disabled],
.aui-button.aui-button-link[disabled]:hover,
.aui-button.aui-button-link[disabled]:focus,
.aui-button.aui-button-link[disabled]:active,
.aui-button.aui-button-link[aria-disabled="true"],
.aui-button.aui-button-link[aria-disabled="true"]:hover,
.aui-button.aui-button-link[aria-disabled="true"]:focus,
.aui-button.aui-button-link[aria-disabled="true"]:active,
.aui-button.aui-button-text[disabled],
.aui-button.aui-button-text[disabled]:hover,
.aui-button.aui-button-text[disabled]:focus,
.aui-button.aui-button-text[disabled]:active,
.aui-button.aui-button-text[aria-disabled="true"],
.aui-button.aui-button-text[aria-disabled="true"]:hover,
.aui-button.aui-button-text[aria-disabled="true"]:focus,
.aui-button.aui-button-text[aria-disabled="true"]:active {
  background-color: transparent;
  border-color: transparent;
  color: #A5ADBA;
  text-decoration: none;
}
.aui-button.aui-button-compact .aui-icon {
  margin-top: -1px;
}
.aui-button .aui-icon {
  color: #344563;
}
.aui-button:hover .aui-icon {
  color: #344563;
}
.aui-button:active .aui-icon {
  color: #0052CC;
}
.aui-button.active .aui-icon {
  color: #FFFFFF;
}
.aui-button.aui-button-primary .aui-icon {
  color: #FFFFFF;
}
.aui-button.aui-button-link .aui-icon {
  color: #0052CC;
}
.aui-button.aui-button-link:hover .aui-icon {
  color: #0065FF;
}
.aui-button.aui-button-link.active .aui-icon,
.aui-button.aui-button-link:active .aui-icon {
  color: #0747A6;
}
.aui-button[aria-disabled="true"] .aui-icon,
.aui-button[disabled] .aui-icon,
.aui-button[aria-disabled="true"]:hover .aui-icon,
.aui-button[disabled]:hover .aui-icon,
.aui-button[aria-disabled="true"]:active .aui-icon,
.aui-button[disabled]:active .aui-icon {
  color: #A5ADBA;
}
.aui-button[busy] {
  position: relative;
  color: transparent !important;
}
.aui-button[busy] aui-spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.aui-button[busy] aui-spinner {
  color: #344563;
}
.aui-button[busy].aui-button-primary aui-spinner {
  color: #FFFFFF;
}
