<div class="w-full text-center ">
    <div class='skills-set  ' id="skills">
            <h1 class="big-text box-underline  " id="projects">
                    Skill Sets
             </h1>
            <div class='container'>
                <!-- copy from here -->
                <div class="fl sd px-4">
                    <div class='fl smalld'>
                        <p class='skills-p text-2xl'>
                            Php
                        </p>
                    </div>
                    <div class='fr xd'>
                        <div class='skill-chart' style="width: 70%;">70%</div>
                    </div>
                    <div class='fclr'></div>
                </div>
                 <!-- copy till here -->
                      <!-- copy from here -->
                <div class="fl sd px-4">
                    <div class='fl smalld'>
                        <p class='skills-p text-2xl'>
                            NodeJS
                        </p>
                    </div>
                    <div class='fr xd'>
                        <div class='skill-chart' style="width: 70%;">70%</div>
                    </div>
                    <div class='fclr'></div>
                </div>
                 <!-- copy till here -->
                      <!-- copy from here -->
                <div class="fl sd px-4">
                    <div class='fl smalld'>
                        <p class='skills-p text-2xl'>
                            JS
                        </p>
                    </div>
                    <div class='fr xd'>
                        <div class='skill-chart' style="width: 80%;">80%</div>
                    </div>
                    <div class='fclr'></div>
                </div>
                 <!-- copy till here -->
                      <!-- copy from here -->
                <div class="fl sd px-4">
                    <div class='fl smalld'>
                        <p class='skills-p text-2xl'>
                            Ethereum
                        </p>
                    </div>
                    <div class='fr xd'>
                        <div class='skill-chart' style="width: 30%;">30%</div>
                    </div>
                    <div class='fclr'></div>
                </div>
                 <!-- copy till here -->
                      <!-- copy from here -->
                <div class="fl sd px-4">
                    <div class='fl smalld'>
                        <p class='skills-p text-2xl'>
                            ReactJS
                        </p>
                    </div>
                    <div class='fr xd'>
                        <div class='skill-chart' style="width: 70%;">70%</div>
                    </div>
                    <div class='fclr'></div>
                </div>
                 <!-- copy till here -->
                      <!-- copy from here -->
                <div class="fl sd px-4">
                    <div class='fl smalld'>
                        <p class='skills-p text-2xl'>
                            Laravel
                        </p>
                    </div>
                    <div class='fr xd'>
                        <div class='skill-chart' style="width: 75%;">75%</div>
                    </div>
                    <div class='fclr'></div>
                </div>
                 <!-- copy till here -->
                      <!-- copy from here -->
                <div class="fl sd px-4">
                    <div class='fl smalld'>
                        <p class='skills-p text-2xl'>
                            GraphQL
                        </p>
                    </div>
                    <div class='fr xd'>
                        <div class='skill-chart' style="width: 60%;">60%</div>
                    </div>
                    <div class='fclr'></div>
                </div>
                 <!-- copy till here -->
                      <!-- copy from here -->
                <div class="fl sd px-4">
                    <div class='fl smalld'>
                        <p class='skills-p text-2xl'>
                            Security
                        </p>
                    </div>
                    <div class='fr xd'>
                        <div class='skill-chart' style="width: 55%;">55%</div>
                    </div>
                    <div class='fclr'></div>
                </div>
                 <!-- copy till here -->
                      <!-- copy from here -->
                <div class="fl sd px-4">
                    <div class='fl smalld'>
                        <p class='skills-p text-2xl'>
                            C++
                        </p>
                    </div>
                    <div class='fr xd'>
                        <div class='skill-chart' style="width: 75%;">75%</div>
                    </div>
                    <div class='fclr'></div>
                </div>
                 <!-- copy till here -->
                           <!-- copy from here -->
                <div class="fl sd px-4">
                    <div class='fl smalld'>
                        <p class='skills-p text-2xl'>
                            Backend Developent
                        </p>
                    </div>
                    <div class='fr xd'>
                        <div class='skill-chart' style="width: 75%;">75%</div>
                    </div>
                    <div class='fclr'></div>
                </div>
                 <!-- copy till here -->
                                <!-- copy from here -->
                <div class="fl sd px-4">
                    <div class='fl smalld'>
                        <p class='skills-p text-2xl'>
                            UI/UX
                        </p>
                    </div>
                    <div class='fr xd'>
                        <div class='skill-chart' style="width: 65%;">65%</div>
                    </div>
                    <div class='fclr'></div>
                </div>
                 <!-- copy till here -->
                                <!-- copy from here -->
                <div class="fl sd px-4">
                    <div class='fl smalld'>
                        <p class='skills-p text-2xl'>
                            DevOps
                        </p>
                    </div>
                    <div class='fr xd'>
                        <div class='skill-chart' style="width: 25%;">25%</div>
                    </div>
                    <div class='fclr'></div>
                </div>
                 <!-- copy till here -->
                                   <!-- copy from here -->
                <div class="fl sd px-4">
                    <div class='fl smalld'>
                        <p class='skills-p text-2xl'>
                            Database
                        </p>
                    </div>
                    <div class='fr xd'>
                        <div class='skill-chart' style="width: 75%;">75%</div>
                    </div>
                    <div class='fclr'></div>
                </div>
            </div>

</div>